**/aspnet_client/
**/bin/Debug/
**/bin/Release/
**/bin/*.xml
**/bin/Debug/*.xml
**/bin/Release/*.xml
**/obj/
**/log/
**/logs/
**/packages/
*.scc
*.suo
*.deleteme
*.pdb
*.mdf
*.ldf
Thumbs.db
*.nupkg
*.nuspec.txt
*.nuspec
NuGet.exe