<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dos.ORM" version="1.12.1" targetFramework="net40" />
  <package id="Dos.ORM.MySql" version="1.1.7.0" targetFramework="net40" />
  <package id="lcpi.data.oledb" version="1.7.0.3395" targetFramework="net40" />
  <package id="lcpi.lib" version="2.1.0.1660" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net40" />
</packages>